<!DOCTYPE html>
<html>
	<head>
		<title>Nike Apple</title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- Optional: Include the jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
                <!-- <link rel="stylesheet" href="{{ asset('bundles/app/nikeapple/en/css/custom.css') }}"> -->
		<link rel="stylesheet" href="{{ asset('bundles/app/nikeapple/en/fonts.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/app/nikeapple/en/js/jquery.countdown.css') }}">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,900,200,200italic,300italic,400italic,600,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<script src="{{ asset('bundles/app/nikeapple/en/js/jquery.plugin.js') }}"></script>
		<script src="{{ asset('bundles/app/nikeapple/en/js/jquery.countdown.js') }}"></script>
		<style>
		.box_shadow{
			-webkit-box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.75);
			box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.75);
		}
		.box_shadow2{
			-webkit-box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.75);
			-moz-box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.75);
			box-shadow: 5px 5px 5px -4px rgba(0,0,0,0.75);
		}
		.no_selection{
			-webkit-user-select: none; /* webkit (safari, chrome) browsers */
			-moz-user-select: none; /* mozilla browsers */
			-khtml-user-select: none; /* webkit (konqueror) browsers */
			-ms-user-select: none; /* IE10+ */
		}
		.btn_gradient{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#171a1f+0,2a2b30+100 */
			background: rgb(23,26,31); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(23,26,31,1) 0%, rgba(42,43,48,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(23,26,31,1) 0%,rgba(42,43,48,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(23,26,31,1) 0%,rgba(42,43,48,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171a1f', endColorstr='#2a2b30',GradientType=0 ); /* IE6-9 */
			cursor:pointer;
		}

		.btn_gradient img{
			opacity:.5;
		}

		.btn_gradient:hover,
		.btn_gradient.active{
			background:#0d1114;
		}
		.btn_gradient:hover img,
		.btn_gradient.active img{
			opacity:.9;
		}

		.btn_blue{
			background:#2f5f87;
			cursor:pointer;
		}

		.btn_blue img{
			opacity:.5;
		}

		.btn_blue:hover img{
			opacity:.9;
		}
		body{
			background:url('{{ asset('bundles/app/nikeapple/en/img/bg_questionare4.jpg') }}');
			background-size:1920px 1080px;
			background-position:bottom left;
			font-family: 'Source Sans Pro', sans-serif;
		}
		</style>
                                {% include "theme/ga.html.twig" %}

	</head>
	<body>
		<input type="hidden" id="user_name" value="">
		<div class="box_shadow" style="width:100%;min-height:100vh;max-width:720px;margin:0px auto;background:#e7e7e7;padding-bottom:65px;position:relative;">
			<div style="padding:15px;width:100%;height:calc(100vh - 65px);overflow:auto;">
				<div class="box_shadow2" style="width:100%;background:#fff;border-radius:5px;border:1px solid #dcdcdc;margin-bottom:10px;">
					<div style="height:50px;width:calc(100% + 3px);background:#2f5f87;text-align:center;font-size:32px;line-height:55px;color:#fff;font-family:'Conv_billabong',Sans-Serif;margin-left:-1px;margin-top:-1px;border-top-right-radius:5px;border-top-left-radius:5px;">
						Say yes, just do it
					</div>
					<div style="padding:8px;float:left;width:25%;border-right:1px solid #dcdcdc;">
						<div style="width:100%;height:101.5px;border:1px solid #dcdcdc;border-radius:5px;overflow:hidden;">
							<a href="javascript:void(0)"><img src="{{ asset('bundles/app/nikeapple/en/img/applenikelogo2.png') }}" style="display:block;width:100%;max-width:100px;height:auto;margin:0px auto;"></a>
						</div>
					</div>
					<div style="padding:5px;float:left;width:25%;border-right:1px solid #dcdcdc;height:117.5px;text-align:center;line-height:24px;padding-top:10px;position:relative;">
						<b style="font-size:36px;">230</b><br/>
						<span style="color:#9d9d9d;font-weight:600;font-size:18px;">Fotos</span>
						<div style="position:absolute;left:0px;bottom:0px;padding:8px;background:#fff;width:302%;border-top:1px solid #dcdcdc;">
							<button class="btn_blue" style="border:none;color:#fff;font-size:18px;font-weight:600;width:100%;padding:5px 0px;border-radius:5px;outline:none;">Volgen</button>
						</div>
					</div>
					<div style="padding:5px;float:left;width:25%;border-right:1px solid #dcdcdc;height:117.5px;text-align:center;line-height:24px;padding-top:10px;">
						<b style="font-size:36px;">1m</b><br/>
						<span style="color:#9d9d9d;font-weight:600;font-size:18px;">Volgelingen</span>
					</div>
					<div style="padding:5px;float:left;width:25%;height:117.5px;text-align:center;line-height:24px;padding-top:10px;">
						<b style="font-size:36px;">318</b><br/>
						<span style="color:#9d9d9d;font-weight:600;font-size:18px;">Volgend</span>
					</div>
					<div style="clear:both;"></div>
					<div style="width:100%;padding:8px;border-top:1px solid #dcdcdc;">
						<div style="font-size:20px;font-weight:700;"><a href="javascript:void(0)" style="color:inherit;text-decoration:none;">Beter Leven</a></div>
						<p class="text-justify">Problemen met je gezondheid kunnen serieus zijn en alleen maar verergeren! Het is aangetoond dat een half uur lichaamsbeweging per dag je gezondheid en je mate van energie al kan doen verbeteren en het risico op bijvoorbeeld hartaanval, stress en depressie kan verminderen. Doe mee met de officiële Nike en Apple 2016 campagne</p>

						<p style="text-align:center;"><b style="font-size:32px;color:#e94d36;">“Say Yes, Just do it”</b></p>

						<p style="text-align:center;">De eerste stap naar een gezonde levensstijl</p>
					</div>
				</div>
				<div class="box_shadow2" style="width:100%;background:#fff;border-radius:5px;border:1px solid #dcdcdc;padding:8px;text-align:center;min-height:330px;margin-bottom:10px;">
					<div class="questionare">
					<span style="font-size:18px;font-weight:800;">Wist je dat de iPhone 6 ingebouwde gezondheidsfuncties heeft die je bijvoorbeeld met hardlopen kunnen helpen?</span><br/>
					<div style="width:200px;display:inline-block;padding:10px 0px;">
					<button class="btn_blue ans1" style="border:none;color:#fff;padding:8px;display:block;width:100%;font-size:18px;font-weight:600;margin-bottom:10px;outline:none;border-radius:5px;">Ja</button>
					<button class="btn_blue ans1" style="border:none;color:#fff;padding:8px;display:block;width:100%;font-size:18px;font-weight:600;margin-bottom:10px;outline:none;border-radius:5px;">Nee</button>
					
					</div>
					<p>Info: De iPhone 6 heeft hele handige functies zoals een barometer om hoogte aan te geven, een accelerometer voor het berekenen van afstand voor wandelen en hardlopen, en zelfs een gyroscoop die kan detecteren of je rijdt..</p>
					</div>
				</div>
				<div class="box_shadow2 hide" class="no_selection" style="width:100%;background:#fff;border-radius:5px;border:1px solid #dcdcdc;margin-bottom:15px;color:#9d9d9d;">
					<div style="padding:5px;float:left;width:25%;border-right:1px solid #dcdcdc;height:50px;text-align:center;line-height:24px;padding-top:12px;position:relative;cursor:pointer;">
						<i class="fa fa-2x fa-th"></i>
						<div class="arrow_box hide"></div>
					</div>
					<div style="padding:5px;float:left;width:25%;border-right:1px solid #dcdcdc;height:50px;text-align:center;line-height:24px;padding-top:12px;cursor:pointer;">
					<i class="fa fa-2x fa-bars"></i>
					</div>
					<div style="padding:5px;float:left;width:25%;border-right:1px solid #dcdcdc;height:50px;text-align:center;line-height:24px;padding-top:12px;cursor:pointer;">
					<i class="fa fa-2x fa-map-marker"></i>
					</div>
					<div style="padding:5px;float:left;width:25%;height:50px;text-align:center;line-height:24px;padding-top:12px;cursor:pointer;">
					<i class="fa fa-2x fa-street-view"></i>
					</div>
					<div style="clear:both"></div>
				</div>
				<div style="width:100%;text-align:center;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around;">
					<div class="box_shadow2" style="width:100%;max-width:330px;background:#fff;border-radius:5px;border:1px solid #dcdcdc;margin-bottom:10px;padding:8px;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around;padding-top:98px;position:relative;">
						<div style="height:50px;width:calc(100% + 3px);background:#2f5f87;text-align:center;font-size:32px;line-height:55px;color:#fff;font-family:'Conv_billabong',Sans-Serif;position:absolute;top:-1px;left:-1px;border-top-left-radius:5px;border-top-right-radius:5px">
							Foto
						</div>
						<div style="height:36px;width:36px;position:absolute;left:11px;top:56px;border-radius:36px;overflow:hidden;">
							<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/user1_2.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div style="position:absolute;top:65px;left:52px;font-weight:700;text-align:left;line-height:16px;">Sofie Mavh</div>
						<div class="hide_img" style="width:147px;height:147px;border:1px solid #dcdcdc;margin-bottom:8px;">
						<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/img1_2.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div class="hide_img" style="width:147px;height:147px;border:1px solid #dcdcdc;margin-bottom:8px;">
						<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/img2.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div style="width:304px;height:147px;border:1px solid #dcdcdc;">
						<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/img3.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div style="width:304px;text-align:left;padding-top:10px;">
							Wij hebben ons een paar jaar geleden aangemeld bij de campagne "Say Yes, Just do it". Via hen hadden we ons ook aangemeld voor de toenmalige iPhone 3 campagne ha ha ha... Die heb ik nog steeds overigens. Mijn man was eigenlijk degene die ons had aangemeld, hij werkt veel en miste quality time met de familie. Nu doen we elk jaar mee. Het is een leuk evenement ;) 
						</div>
					</div>
					<div class="box_shadow2" style="width:100%;max-width:330px;background:#fff;border-radius:5px;border:1px solid #dcdcdc;margin-bottom:10px;padding:8px;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around;padding-top:98px;position:relative;">
						<div style="height:50px;width:calc(100% + 3px);background:#2f5f87;text-align:center;font-size:32px;line-height:55px;color:#fff;font-family:'Conv_billabong',Sans-Serif;position:absolute;top:-1px;left:-1px;border-top-left-radius:5px;border-top-right-radius:5px">
							Foto
						</div>
						<div style="height:36px;width:36px;position:absolute;left:11px;top:56px;border-radius:36px;overflow:hidden;">
							<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/user2.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div style="position:absolute;top:65px;left:52px;font-weight:700;text-align:left;line-height:16px;">Alexander Steve</div>
						<div class="hide_img" style="width:147px;height:147px;border:1px solid #dcdcdc;margin-bottom:8px;">
						<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/img4.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div class="hide_img" style="width:147px;height:147px;border:1px solid #dcdcdc;margin-bottom:8px;">
						<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/img5.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div style="width:304px;height:147px;border:1px solid #dcdcdc;">
						<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/img6.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div style="width:304px;text-align:left;padding-top:10px;">
							De "Say Yes, Just do it" campagne heeft ons als familie echt dichter bij elkaar gebracht. Precies de juiste dingen hadden ze om de activiteiten leuk te maken, speciaal voor de kinderen, wat erg aansloeg! Ik won een iWatch, maar ik geloof dat mijn zoon die nu heeft. Hij gebruikt 'm voor hardlopen en met de Nike Fuel post hij bijna dagelijks zijn hardloopprestaties.
						</div>
					</div>
					<div class="box_shadow2" style="width:100%;max-width:330px;background:#fff;border-radius:5px;border:1px solid #dcdcdc;margin-bottom:10px;padding:8px;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around;padding-top:98px;position:relative;">
						<div style="height:50px;width:calc(100% + 3px);background:#2f5f87;text-align:center;font-size:32px;line-height:55px;color:#fff;font-family:'Conv_billabong',Sans-Serif;position:absolute;top:-1px;left:-1px;border-top-left-radius:5px;border-top-right-radius:5px">
							Foto
						</div>
						<div style="height:36px;width:36px;position:absolute;left:11px;top:56px;border-radius:36px;overflow:hidden;">
							<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/user3.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div style="position:absolute;top:65px;left:52px;font-weight:700;text-align:left;line-height:16px;">Christiane Becker</div>
						<div class="hide_img" style="width:147px;height:147px;border:1px solid #dcdcdc;margin-bottom:8px;">
						<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/img7.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div class="hide_img" style="width:147px;height:147px;border:1px solid #dcdcdc;margin-bottom:8px;">
						<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/img8.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div style="width:304px;height:147px;border:1px solid #dcdcdc;">
						<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/img9.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div style="width:304px;text-align:left;padding-top:10px;">
							We zijn niet echt jong meer, maar het "woggen" zoals wij dat noemen doet ons jonger voelen. En we doen het met de kleinkinderen wat erg gezellig is. Als we om ons heen kijken en we zien de hele familie bij elkaar, dan is dat wel speciaal. Bedankt "Say yes, Just do it" Ik heb nu een van die Nike Fitness Trackers en altijd na het "woggen" deel ik het met trots op Facebook
						</div>
					</div>
					<div class="box_shadow2" style="width:100%;max-width:330px;background:#fff;border-radius:5px;border:1px solid #dcdcdc;margin-bottom:10px;padding:8px;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around;padding-top:98px;position:relative;">
						<div style="height:50px;width:calc(100% + 3px);background:#2f5f87;text-align:center;font-size:32px;line-height:55px;color:#fff;font-family:'Conv_billabong',Sans-Serif;position:absolute;top:-1px;left:-1px;border-top-left-radius:5px;border-top-right-radius:5px">
							Foto
						</div>
						<div style="height:36px;width:36px;position:absolute;left:11px;top:56px;border-radius:36px;overflow:hidden;">
							<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/user1.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div style="position:absolute;top:65px;left:52px;font-weight:700;text-align:left;line-height:16px;">Marika Nell Lauritz</div>
						<div class="hide_img" style="width:147px;height:147px;border:1px solid #dcdcdc;margin-bottom:8px;">
						<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/img10.png') }}" style="width:100%;height:100%;">
						</div>
						<div class="hide_img" style="width:147px;height:147px;border:1px solid #dcdcdc;margin-bottom:8px;">
						<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/img11.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div style="width:304px;height:147px;border:1px solid #dcdcdc;">
						<img src="{{ asset('bundles/app/nikeapple/en/img/gallery/img12.jpg') }}" style="width:100%;height:100%;">
						</div>
						<div style="width:304px;text-align:left;padding-top:10px;">
							Gezond blijven is heel belangrijk voor me. Ik heb een hele drukke baan als enige vrouw in een mannenwereld. Ik heb me aangemeld bij "Say Yes, Just do it" omdat ik het lastig vind om mensen te ontmoeten omdat ik zo veel werk. En, mocht de man van mijn dromen met een goede baan en bij voorkeur niet meer dan 1 kind voorbijkomen, dan zou ik best eens per ongeluk over hem kunnen struikelen ;) It's lonely at the top.
						</div>
					</div>
				</div>
				<!--<div style="width:100%;text-align:center;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around;">
					<div class="gallery_img">
						<img src="{{ asset('bundles/app/nikeapple/en/img/img1.png') }}">
					</div>
					<div class="gallery_img">
						<img src="{{ asset('bundles/app/nikeapple/en/img/img2.jpg') }}">
					</div>
					<div class="gallery_img">
						<img src="{{ asset('bundles/app/nikeapple/en/img/img3.jpg') }}">
					</div>
					<div class="gallery_img">
						<img src="{{ asset('bundles/app/nikeapple/en/img/img4.jpg') }}">
					</div>
					<div class="gallery_img">
						<img src="{{ asset('bundles/app/nikeapple/en/img/img5.jpeg') }}">
					</div>
					<div class="gallery_img">
						<img src="{{ asset('bundles/app/nikeapple/en/img/img6.png') }}">
					</div>
					<div class="gallery_img">
						<img src="{{ asset('bundles/app/nikeapple/en/img/img7.jpg') }}">
					</div>
					<div class="gallery_img">
						<img src="{{ asset('bundles/app/nikeapple/en/img/img8.png') }}">
					</div>
				</div>-->
			</div>
			<div style="height:65px;width:100%;position:absolute;bottom:0px;left:0px;border-top:5px solid #fff;">
				<div class="btn_gradient active no_selection" style="width:20%;float:left;text-align:center;height:60px;line-height:60px;color:#fff;"><img src="{{ asset('bundles/app/nikeapple/en/img/homeicon.png') }}"></div>
				<div class="btn_gradient no_selection" style="width:20%;float:left;text-align:center;height:60px;line-height:60px;color:#fff;"><img src="{{ asset('bundles/app/nikeapple/en/img/staricon.png') }}"></div>
				<div class="btn_blue no_selection" style="width:20%;float:left;text-align:center;height:60px;line-height:60px;color:#fff;"><img src="{{ asset('bundles/app/nikeapple/en/img/instaicon.png') }}"></div>
				<div class="btn_gradient no_selection" style="width:20%;float:left;text-align:center;height:60px;line-height:60px;color:#fff;"><img src="{{ asset('bundles/app/nikeapple/en/img/hearticon.png') }}"></div>
				<div class="btn_gradient no_selection" style="width:20%;float:left;text-align:center;height:60px;line-height:60px;color:#fff;"><img src="{{ asset('bundles/app/nikeapple/en/img/lasticon.png') }}"></div>
				<div class="btn_gradient" style="clear:both;"></div>
			</div>
		</div>
		<div class="modal fade" tabindex="-1" role="dialog">
			<div style="width:100%;height:100vh;display:flex;flex-direction:column;justify-content:center;">
				<div class="box_shadow" style="width:100%;max-width:500px;min-height:500px;border-radius:100px;background:#fff;margin:0px auto;padding:20px;border:10px solid #e94d36;overflow:hidden;color:#e94d36;">
				<img src="{{ asset('bundles/app/nikeapple/en/img/appleicon.png') }}" style="display:block;margin:0px auto;">
				<div style="width:100%;max-width:300px;margin:0px auto;text-align:center;padding:15px;font-size:16px;">
				<p>Apple and Nike have lauched the "Say yes, just do it" 2016 campaign for a happy better life! And are giving away a smart Nike fittness tracker together with an Apple iPhone 6s</p>
				<button style="background:#e94d36;border:none;padding:10px;color:#fff;display:block;width:100%;border-radius:10px;margin-bottom:15px;font-size:24px;font-weight:700;text-transform:uppercase;outline:none;" data-dismiss="modal">Take the first step</button>
				<p>There for the "Say yes, Just do it!" have been launched and we are giving a way an iPhone together with a Nike Fittness tracker. The perfect start towards a healthier lifestyle. To participate, just answer 4 short questions! Happybetterlife Say yes, just do it!</p>
				</div>
				<img src="{{ asset('bundles/app/nikeapple/en/img/nikeicon.png') }}" style="display:block;margin:0px auto;">
				</div>
			</div>
		</div>
		<script>
		$(document).on("ready",function(){
			//$(".modal").modal('show');
		});

		$(document).on("click",".ans1",function(){
			$(".questionare *").hide();
			setTimeout(function(){
				$(".questionare").append('<span style="font-size:18px;font-weight:800;">Wist je dat de iPhone fasedetectie heeft, zodat je videos en afbeeldingen van professionele kwaliteit krijgt?</span><br/>\
					<div style="width:200px;display:inline-block;padding:10px 0px;">\
					<button class="btn_blue ans2" style="border:none;color:#fff;padding:8px;display:block;width:100%;font-size:18px;font-weight:600;margin-bottom:10px;outline:none;border-radius:5px;">Ja</button>\
					<button class="btn_blue ans2" style="border:none;color:#fff;padding:8px;display:block;width:100%;font-size:18px;font-weight:600;margin-bottom:10px;outline:none;border-radius:5px;">Nee</button>\
					</div>\
					<p>Info: Dit zijn de eerste telefoons ter wereld die automatisch scherpstellen door middel van fasedetectie. De videos die je maakt of fotos die je neemt worden dus automatisch scherpgesteld. Geen andere smartphone kan dit.</p>').hide().fadeIn();
			},300);
		});
		$(document).on("click",".ans2",function(){
			$(".questionare *").hide();
			setTimeout(function(){
				$(".questionare").append('<span style="font-size:18px;font-weight:800;">Wifi wonder! Hoe veel sneller is de nieuwe wifi-ondersteuning in de iPhone 6?</span><br/>\
					<div style="width:200px;display:inline-block;padding:10px 0px;">\
					<button class="btn_blue ans3" style="border:none;color:#fff;padding:8px;display:block;width:100%;font-size:18px;font-weight:600;margin-bottom:10px;outline:none;border-radius:5px;">Tot 3 keer sneller</button>\
					<button class="btn_blue ans3" style="border:none;color:#fff;padding:8px;display:block;width:100%;font-size:18px;font-weight:600;margin-bottom:10px;outline:none;border-radius:5px;">Tot 1 keer sneller</button>\
					<button class="btn_blue ans3" style="border:none;color:#fff;padding:8px;display:block;width:100%;font-size:18px;font-weight:600;margin-bottom:10px;outline:none;border-radius:5px;">Tot 2 keer sneller</button>\
					</div>\
					<p>Info: Wifi-ondersteuning is veel, veel beter. Je kan tot wel 3 keer hogere wifisnelheden verwachten dan bij de voorgaande generatie iPhones, dankzij de ondersteuning voor VoLTE</p>').hide().fadeIn();
			},300);
		});
		$(document).on("click",".ans3",function(){
			$(".questionare *").hide();
			setTimeout(function(){
				$(".questionare").append('<span style="font-size:18px;font-weight:800;">Nieuwe functie: De nieuwe burstmodus die tot wel 10 fotos per seconde kan nemen! Wist je dat de iPhone 6 ook glimlach- en knipperdetectie heeft zodat je nooit meer het juiste moment mist?</span><br/>\
					<div style="width:200px;display:inline-block;padding:10px 0px;">\
					<button class="btn_blue ans4" style="border:none;color:#fff;padding:8px;display:block;width:100%;font-size:18px;font-weight:600;margin-bottom:10px;outline:none;border-radius:5px;">Ja</button>\
					<button class="btn_blue ans4" style="border:none;color:#fff;padding:8px;display:block;width:100%;font-size:18px;font-weight:600;margin-bottom:10px;outline:none;border-radius:5px;">Nee</button>\
					</div>\
					<p>Nu kan je dus de perfecte selfie nemen en je beste duckface op Facebook laten zien. Je verlegen vriend zal nooit meer kwaad op je zijn omdat ze in je groepsfoto met haar ogen dicht staat.</p>').hide().fadeIn();
			},300);
		});
		$(document).on("click",".ans4",function(){
			$(".questionare *").hide();
			setTimeout(function(){
				$(".questionare").append('<img src="http://25.media.tumblr.com/b213065d7c1cabf3420dbc6a8a8a9200/tumblr_muweqgzgLK1qinw58o1_500.gif" style="display:block;margin:0px auto;width:250px;height:auto;margin-bottom:10px;"><span>Een moment. We dienen je resultaten in...</span><br/>\
					<p style="font-size:16px;font-weight:600;padding-top:15px;" class="tips">Zorg ervoor om genoeg te drinken en een waterfles bij je te hebben tijdens het hardlopen. </p>').hide().fadeIn();
				setTimeout(function(){
					$(".tips").fadeOut();
					setTimeout(function(){
						$(".tips").text('Begin eerst met stevig lopen, dan joggen en bouw dat dan op tot hardlopen als je niet eerder hebt hardgelopen.').fadeIn();
						setTimeout(function(){
							$(".tips").fadeOut();
							setTimeout(function(){
								$(".tips").text('See a doctor for a check-up before you start running. This is especially important if you are over 40 years, are overweight, have a chronic illness or haven\'t exercised in a long time.').fadeIn();
							},500);
							setTimeout(function(){
								$(".questionare *").hide();
								setTimeout(function(){
									var name = $("#user_name").val();
									$(".questionare").append('<div style="width:100%;max-width:400px;border-radius:100px;border:25px solid #e94d36;padding:30px;margin:0px auto;"><p style="font-size:18px;color:#2f5f87;">Gefeliciteerd! Je bent geselecteerd voor de iPhone 6s met Nike Fitness Tracker. De eerste stap naar een gezonde levensstijl</p><img src="{{ asset('bundles/app/nikeapple/en/img/prod2.png') }}" style="display:block;margin:0px auto;width:100%;max-width:250px;height:auto;margin-bottom:10px;">\
					<a href="{{ path('p_signup', {'url':campaign.url}) }}" style="text-decoration:none;"><button style="background:#e94d36;border:none;color:#fff;padding:8px;display:block;width:100%;max-width:250px;font-size:18px;font-weight:600;margin-bottom:10px;outline:none;border-radius:5px;margin:0px auto;">“Say Yes, Just do it”</button></a>\
					</div></div>').hide().fadeIn();
								},500);
							},500);
						},1500);
					},500);
				},1500);
			},300);
		});
		</script>
	</body>
</html>
