<!DOCTYPE html>
<html>
	<head>
		<title>Nike Apple</title>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- Optional: Include the jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
                <!-- <link rel="stylesheet" href="{{ asset('bundles/app/nikeapple/en/css/custom.css') }}"> -->
		<link rel="stylesheet" href="{{ asset('bundles/app/nikeapple/en/js/jquery.countdown.css') }}">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,900,200,200italic,300italic,400italic,600,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script src="{{ asset('bundles/app/nikeapple/en/js/jquery.plugin.js') }}"></script>
		<script src="{{ asset('bundles/app/nikeapple/en/js/jquery.countdown.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/app/nikeapple/en/js/moment.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/app/nikeapple/en/js/FeedEk.js') }}"></script>


		<style>
		.box_shadow{
			-webkit-box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.75);
			box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.75);
		}
		.inset_shadow{
			-webkit-box-shadow: inset 1px 2px 3px 0px rgba(0,0,0,0.5);
			-moz-box-shadow: inset 1px 2px 3px 0px rgba(0,0,0,0.5);
			box-shadow: inset 1px 2px 3px 0px rgba(0,0,0,0.5);
		}
		.no_selection{
			-webkit-user-select: none; /* webkit (safari, chrome) browsers */
			-moz-user-select: none; /* mozilla browsers */
			-khtml-user-select: none; /* webkit (konqueror) browsers */
			-ms-user-select: none; /* IE10+ */
		}
		.btn_gradient{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#397a32+0,5ab518+50,397a32+100 */
			background: rgb(57,122,50); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(57,122,50,1) 0%, rgba(90,181,24,1) 50%, rgba(57,122,50,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(57,122,50,1) 0%,rgba(90,181,24,1) 50%,rgba(57,122,50,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(57,122,50,1) 0%,rgba(90,181,24,1) 50%,rgba(57,122,50,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#397a32', endColorstr='#397a32',GradientType=0 ); /* IE6-9 */

		}
		.box_shadowpink{
			-webkit-box-shadow: 2px 2px 2px 0px rgba(219,22,138,1);
			-moz-box-shadow: 2px 2px 2px 0px rgba(219,22,138,1);
			box-shadow: 2px 2px 2px 0px rgba(219,22,138,1);
		}
		.box_shadowgreen{
			-webkit-box-shadow: 2px 2px 2px 0px rgba(66,182,24,1);
			-moz-box-shadow: 2px 2px 2px 0px rgba(66,182,24,1);
			box-shadow: 2px 2px 2px 0px rgba(66,182,24,1);
		}
		.box_shadowpurple{
			-webkit-box-shadow: 2px 2px 2px 0px rgba(160,18,182,1);
			-moz-box-shadow: 2px 2px 2px 0px rgba(160,18,182,1);
			box-shadow: 2px 2px 2px 0px rgba(160,18,182,1);
		}
		</style>
                                {% include "theme/ga.html.twig" %}

	</head>
	<body style="background:url({{ asset('bundles/app/nikeapple/en/img/bg.png') }});background-attachment:fixed;font-family: 'Source Sans Pro', sans-serif;">
		<div style="width:100%;background:#909090;border-bottom:2px solid #fff;height:100px;">
			<div style="width:1200px;margin:0px auto;">
				<div style="float:left;width:480px;">
					<div style="height:100px;">

					</div>
				</div>
				<div style="float:left;width:720px;text-align:center;padding-top:10px;">

				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div style="width:100%;background:#14b5f1;height:400px;padding-top:30px;">
			<div style="width:1200px;margin:0px auto;margin-top:-60px;">
				<div class="box_shadow" style="width:900px;margin:0px auto;background:#ff820d;border:2px solid #fff;padding:10px 15px;border-radius:10px;position:relative;margin-bottom:20px;padding-top:5px;">
					<div style="padding-bottom:8px;color:#fff;font-weight:600;border-bottom:1px solid #fff;margin-bottom:15px;text-align:center;">
						<span style="font-size:24px;font-weight:700;">Takk <?php echo $_GET['name'];?></span>
						<p style="font-size:18px;">Din ordre er mottatt og blir behandlet. Du vil motta en e-post med ytterliggere opplysninger.</p>
					</div>
					<div style="width:100%;background:#fff;border-radius:10px;padding:10px 30px;">
						<div style="height:300px;width:100%;position:relative;">
							<p style="text-align:center;font-size:24px;font-weight:700;color:#909090;">Today's random fact that might surprise you:</p>

							<p><b>Being optimistic can save your life</b><br/>
							We all know that thinking positively can have a great impact on your happiness, however research has also revealed that being an optimist can help you live longer. Research findings published in the European Heart Journal reveal that optimistic people are less likely to suffer from heart disease, while researchers at Duke University Medical Center found that heart patients who were more optimistic about their treatment lived longer than those who were not.</p></p>
							<div style="position:absolute;bottom:-150px;left:0px;width:100%;">
								<div style="float:left;width:33%;padding-right:15px;">
									<div class="box_shadowpurple" style="background:#fff;width:100%;border-radius:5px;border:1px solid #a112b6;">
										<div style="padding:7px 10px;width:calc(100% + 3px);background:#a112b6;color:#fff;font-weight:600;margin-left:-1px;margin-top:-1px;border-top-left-radius:5px;border-top-right-radius:5px;font-size:18px;">Horoscope and astrology</div>
										<div style="padding:10px;width:100%;height:200px;">
											<a href="javascript:void(0)" class="horoscope"><img src="{{ asset('bundles/app/nikeapple/en/img/horoscope.jpg') }}" style="width:100%;height:100%;"></a>
										</div>
									</div>
								</div>
								<div style="float:left;width:33%;padding:0px 15px;">
									<div class="box_shadowgreen" style="background:#fff;width:100%;border-radius:5px;border:1px solid #41b618;">
										<div style="padding:7px 10px;width:calc(100% + 3px);background:#41b618;color:#fff;font-weight:600;margin-left:-1px;margin-top:-1px;border-top-left-radius:5px;border-top-right-radius:5px;font-size:18px;">Health and lifestyle</div>
										<div style="padding:10px;width:100%;height:200px;">
											<div style="padding:10px;width:100%;height:200px;">
												<a href="javascript:void(0)" class="health"><img src="{{ asset('bundles/app/nikeapple/en/img/health.png') }}" style="width:100%;height:100%;"></a>
											</div>
										</div>
									</div>
								</div>
								<div style="float:left;width:33%;padding-left:15px;">
									<div class="box_shadowpink" style="background:#fff;width:100%;border-radius:5px;border:1px solid #db168a;">
										<div style="padding:7px 10px;width:calc(100% + 3px);background:#db168a;color:#fff;font-weight:600;margin-left:-1px;margin-top:-1px;border-top-left-radius:5px;border-top-right-radius:5px;font-size:18px;">Shopping and fashion</div>
										<div style="padding:10px;width:100%;height:200px;">
											<div style="padding:10px;width:100%;height:200px;">
												<a href="javascript:void(0)" class="shopping"><img src="{{ asset('bundles/app/nikeapple/en/img/fashion.png') }}" style="width:100%;height:100%;"></a>
											</div>
										</div>
									</div>
								</div>
								<div style="clear:both;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="horoscope" class="modal fade" tabindex="-1" role="dialog">
			<div style="width:100%;min-height:100vh;display:flex;flex-direction:column;justify-content:center;">
				<div style="width:500px;min-height:500px;margin:0px auto;padding:10px;background:#fff;">
					<img src="http://www.astrozone.co.za/images/header/header-main.jpg" style="width:100%;height:auto;">
					<div id="divRss1" style="width:100%;height:400px;overflow:auto;margin:10px 0px;">

					</div>
					<button style="width:100%;padding:10px;color:#fff;background:#a112b6;border:none;font-size:18px;font-weight:700;" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		<div id="health" class="modal fade" tabindex="-1" role="dialog">
			<div style="width:100%;min-height:100vh;display:flex;flex-direction:column;justify-content:center;">
				<div style="width:500px;min-height:500px;margin:0px auto;padding:10px;background:#fff;">
					<img src="http://www.canfar.ca/wp-content/uploads/2015/05/cropped-HeaderLe.png" style="width:100%;height:auto;">
					<div id="divRss2" style="width:100%;height:400px;overflow:auto;margin:10px 0px;">

					</div>
					<button style="width:100%;padding:10px;color:#fff;background:#41b618;border:none;font-size:18px;font-weight:700;" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
		<div id="shopping" class="modal fade" tabindex="-1" role="dialog">
			<div style="width:100%;min-height:100vh;display:flex;flex-direction:column;justify-content:center;">
				<div style="width:500px;min-height:500px;margin:0px auto;padding:10px;background:#fff;">
					<img src="http://newsandshopping.com/wp-content/uploads/2013/01/Shopping-deals-header1.jpg" style="width:100%;height:auto;">
					<div id="divRss3" style="width:100%;height:400px;overflow:auto;margin:10px 0px;">

					</div>
					<button style="width:100%;padding:10px;color:#fff;background:#db168a;border:none;font-size:18px;font-weight:700;" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
			<script>
			$(document).on("ready",function(){
				$('#divRss1').FeedEk({
				FeedUrl: 'http://www.astrology.com/us/offsite/rss/daily-horoscope.aspx',
				MaxCount: 12,
				DateFormat: 'L',
				DateFormatLang:'en'
				});

				$('#divRss2').FeedEk({
				FeedUrl: 'http://rss.nytimes.com/services/xml/rss/nyt/Health.xml',
				MaxCount: 12,
				DateFormat: 'L',
				DateFormatLang:'en'
				});

				$('#divRss3').FeedEk({
				FeedUrl: 'http://rss.nytimes.com/services/xml/rss/nyt/FashionandStyle.xml',
				MaxCount: 12,
				DateFormat: 'L',
				DateFormatLang:'en'
				});
			});



			$(document).on("click",".horoscope",function(){
				$("#horoscope").modal("show");
			});
			$(document).on("click",".health",function(){
				$("#health").modal("show");
			});
			$(document).on("click",".shopping",function(){
				$("#shopping").modal("show");
			});

			</script>
		</div>
		<!-- Offer Conversion: NOK iphone happybetterlife -->
<iframe src="http://tracking.get-offers.com/aff_l?offer_id=1506" scrolling="no" frameborder="0" width="1" height="1"></iframe>
<!-- // End Offer Conversion -->
	</body>
</html>
